<!DOCTYPE html>
<html>
<head>
	<title>Bookers1</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <h1>Books</h1>
  　<table>
  	　<tr>
  	 　 <th>Title</th>
  	 　 <th>body</th>
        <th></th>
  	　</tr>
  	 <tr>
  	    <% @books.each do |book| %>
  	  　  <td><%= link_to book.title, book_path(book) %></td>
  	  　  <td><%= link_to book.body, book_path(book %></td>
  	    <% end %>
  	 </tr>
  　</table>

  <h2>New Book</h2>
    <div class="box">
    </div>



</body>
</html>
